<div>
  <div class="top-bar">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-6 d-md-block d-none">
          <p *ngIf="Alldetails" >{{Alldetails.name}}</p>
          

        </div>
        <h2 >Add Service Screen</h2><hr>
        <div class="col-md-6">
          <!-- <div class="d-flex justify-content-md-end justify-content-between">
            <ul class="list-inline contact-info d-block d-md-none">
              <li class="list-inline-item"><a ><i class="fa fa-phone"></i></a></li>
              <li class="list-inline-item"><a ><i class="fa fa-envelope"></i></a></li>
            </ul>
            <div class="login"><a  data-toggle="modal" data-target="#login-modal" class="login-btn"><i class="fa fa-sign-in"></i><span class="d-none d-md-inline-block">Sign In</span></a><a href="customer-register.html" class="signup-btn"><i class="fa fa-user"></i><span class="d-none d-md-inline-block">Sign Up</span></a></div>
            <ul class="social-custom list-inline">
              <li class="list-inline-item"><a ><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a ><i class="fa fa-google-plus"></i></a></li>
              <li class="list-inline-item"><a ><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a ><i class="fa fa-envelope"></i></a></li>
            </ul>
          </div> -->
          
        </div>
      </div>
    </div>
  </div>




<div>
  <div class="container" >
    <div class="col-md-2">
      <label>Service Name :
        <input list="browsers" class="form-control"  [(ngModel)]="name" name="myBrowser" /></label>
        <datalist  id="browsers">
          <option value="OPD Consulation">
          <option value="Psychometric Assement">
          <option value="Counseling">
        </datalist>
    </div>
    <div class="col-md-2">
      <label>Service Charges:
        <input type="number"  class="form-control"  [(ngModel)]="charge"  /></label>
        <input type="button" (click)="create()"  value="Add Service" class="btn btn-info" >
    </div>
    <div  class="col-md-8">
      <table border="1" class="table table-light">
        <thead class="thead-light">
          <tr>
            <th>SN</th>
            <th>Service Name</th>
            <th>Charges</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of Services;let i = index;" >
            <td *ngIf="item._id!=bgloid;else temp"  >{{i+1}}</td>
            <td *ngIf="item._id!=bgloid" >{{item.name}}</td>
            <td *ngIf="item._id!=bgloid" >{{item.charge}}</td>
            <td *ngIf="item._id!=bgloid" >
              <!-- <input type="button" class="btn btn-success" (click)="tab(item)" value="Edit"  > -->
      <!-- <span class="glyphicon glyphicon-pencil" (click)="test()" ></span>
      <span class="glyphicon glyphicon-remove" (click)="test()" ></span> -->
      <button type="button" (click)="tab(item)" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil"></span> 
      </button>
      <button (click)="delete(item._id)" type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-remove"></span> 
      </button>
      
            </td>
            <!-- <td *ngIf="item._id!=bgloid">
              <input type="button" (click)="delete(item._id)"  value="Delete"  class="btn btn-danger" ></td> -->
          </tr>
        </tbody>
        <tfoot>
          <!-- <tr>
            <th><input type="button" class="btn btn-primary" value="add services"></th>
          </tr> -->
        </tfoot>
      </table>
    </div>
    
    </div>

<hr>

<div class="form-group">
  <label for="">Add invoice Prefix</label>
  <input type="text" class="form-control" name="" id="" aria-describedby="helpId" [(ngModel)]="prefixx" placeholder="">
  <input type="button" value="save"  (click)="addprefix()"  class="btn btn-info"  >
  <h1 *ngIf="pref"  > Invoice Format <span style="color:red" >{{pref}}0001</span>  </h1>
</div>

</div>
<ng-template #temp>
  <td></td>
  <td>
    <input class="form-control" [(ngModel)]='serviceName' type="text" name="" id="">
  </td>
  <td>
      <input class="form-control" [(ngModel)]="price"  type="text" name="" id="">
    </td>
    <td>
      <button type="button" (click)="saveSer()" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-ok"></span> 
      </button>
      <button  type="button" class="btn btn-default btn-sm" (click)="bgloid=0"  >
        <span class="glyphicon glyphicon-remove"></span> 
      </button>
      
    </td>
</ng-template>
</div>
