<div class="container register-form">
    <div class="form">
        <div style="background-color: rosybrown"  class="note">
            <h2><p style="text-align: center" >Form C</p></h2>
        </div>

        <div class="form-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Hospital Details*" value=""/>
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-control" placeholder="Phone Number *" value=""/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Hospital/Nursing Home" value=""/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Hospital Address" value=""/>
                    </div>
                </div>
            </div>
            
            
        </div>
        <h4 style="background-color: rosybrown;text-align: center" >Patient Detials</h4>
        <div class="form-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Patient Name" value=""/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Patient Age" value=""/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Patient Address " value=""/>
                    </div>
                    <!-- <div class="form-group">
                        <input type="text" class="form-control" placeholder="Hospital Address" value=""/>
                    </div> -->
                </div>
            </div>
            
            
        </div>
        <h4 style="background-color: rosybrown;text-align: center" >Symptoms Details</h4>
        <div class="form-content">
            <div class="row">
                <div class="col-md-6">
                   <div class="form-group">
                     <label for=""></label>
                     <input type="date" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                     <small id="helpId" class="form-text text-muted">Symptoms visible since</small>
                     
                   </div>
                    <div class="form-group">
                        <span>list of Symptoms</span>
                     <input type="text" name="" id="" class="form-control" placeholder="1" > 
                     <input type="text" name="" id="" class="form-control" placeholder="2" >  
                     <input type="text" name="" id="" class="form-control" placeholder="3" > 
                     <input type="text" name="" id="" class="form-control" placeholder="4" > 
                     <input type="text" name="" id="" class="form-control" placeholder="5" > 
                    </div>
                    <div class="form-group">
                        <span>Paper Related to illness enclosed</span>
                     <input type="text" name="" id="" class="form-control" placeholder="1" > 
                     <input type="text" name="" id="" class="form-control" placeholder="2" >  
                     <input type="text" name="" id="" class="form-control" placeholder="3" > 
                     <input type="text" name="" id="" class="form-control" placeholder="4" > 
                     <input type="text" name="" id="" class="form-control" placeholder="5" > 
                    </div>
                </div>
                <!-- here also we can put -->
                <div class="col-md-6">
                  <!-- this is the part where we will put snippet                    -->
                </div>
            </div>
            
            
    <input type="button" value="submit"  class="btn btn-primary" >
    <input type="button" value="save"  class="btn btn-danger" >
    <input type="button" value="edit"  class="btn btn-success" >
    <input type="button" value="print"  class="btn btn-primary" >
        </div>

    </div>
</div>