
<body>
  
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
     <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav">

          <a class="nav-link navlogo text-center" >
            <img src="../../../assets//WS_Logo.png">
          </a>

        <li class="nav-item">
          <a class="nav-link sidefrst" href="dashboard">
            <span class="textside">  Dashboard</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link sidesecnd" href="manager" >
            <span class="textside">  Managers</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link sidesthrd" >
            <span class="textside">  Employee</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link sidesforth">
            <span class="textside">  Jobs</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link sidesfifth" >
            <span class="textside">  Quotation</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link sidesix" >
            <span class="textside">  Services</span>
          </a>
        </li>
      </ul>
      
      <ul class="navbar-nav2 ml-auto">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome Admin</a>
            <ul class="dropdown-menu">
                <li class="resflset"><a ><i class="fa fa-fw fa-cog"></i> Edit profile</a></li>
                <li class="divider"></li>
                <li class="resflset"><a href="" (click)="logout()"  ><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
            </ul>
        </li>
      </ul>
      
    </div>
  </nav>

  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">

      <!-- Icon Cards-->
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
            <div class="inforide">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-4 rideone">
                    <img src="../../../assets/WS_Logo.png">
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                    <h4>Manager</h4>
                    <h2>{{ManagerCount}}</h2>
                </div>
              </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
            <div class="inforide">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridetwo">
                    <img src="../../../assets/WS_Logo.png">
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                    <h4>Employee</h4>
                    <h2>0</h2>
                </div>
              </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
            <div class="inforide">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridethree">
                    <img src="../../../assets/WS_Logo.png">
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                    <h4>Jobs</h4>
                    <h2>0</h2>
                </div>
              </div>
            </div>
        </div>

    </div>
  </div>
</div>

</body>

