<div class="container register-form">
  <div class="form">
      <div style="background-color: rosybrown"  class="note">
          <h2><p style="text-align: center" >Form F</p></h2>
          <h2><p style="text-align: center" >Request for Continous Admission with high Support Needs</p></h2>
      </div>
      <div class="form-content">
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Hospital Details*" value=""/>
                  </div>
                  <div class="form-group">
                      <input type="date" class="form-control" placeholder="Phone Number *" value=""/>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Hospital/Nursing Home" value=""/>
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Hospital Address" value=""/>
                  </div>
              </div>
          </div>
         </div>
         <h4 style="background-color: rosybrown;text-align: center" >Patient Detials</h4>
      
      <div class="form-content">
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Patient Name" value=""/>
                  </div>
                 
              </div>
              <div class="col-md-6">
                 
              </div>
          </div>
        </div>

        <h4 style="background-color: rosybrown;text-align: center" >Symptoms Details</h4>
      <div class="form-content">
          <div class="row">
              <div class="col-md-6">
                 <div class="form-group">
                   <label for=""></label>
                   <input type="date" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                   <small id="helpId" class="form-text text-muted">Symptoms visible since</small>
                   
                 </div>
                  <div class="form-group">
                     
                  </div>
                  <div class="form-group">
                     
                  </div>
              </div>
              <!-- here also we can put -->
              <div class="col-md-6">
                <!-- this is the part where we will put snippet                    -->
              </div>
          </div>
          
          
      </div>


         <h4 style="background-color: rosybrown;text-align: center" >Nominated Representative Details</h4>
      
      <div class="form-content">
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <select name="" id="" class="form-control" >
                        <option>Mr</option>
                        <option>Ms</option>
                      </select>
                      <input type="text" class="form-control" placeholder=" Name" value=""/>
                  </div>
                  <div class="form-group">
                      
                  </div>
                  <div class="form-group">
                    <label for="my-input">Relationship With Patient</label>
                    <select id="my-input" class="form-control">
                      <option>Father</option>
                      <option>Mother</option>
                    </select>
                    <span style="color: pink" >optional</span>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder=" Address " value=""/>
                  </div>
                  <div class="form-group">
                     
                  </div>
                  <div class="form-group">
                   
                  </div>
              </div>
          </div>
          
          <input type="button" value="submit"  class="btn btn-primary" >
          <input type="button" value="save"  class="btn btn-danger" >
          <input type="button" value="edit"  class="btn btn-success" >
          <input type="button" value="print"  class="btn btn-primary" >
                  
      </div>



      

      

  </div>
</div>