<div class="container register-form">
    <div class="form">
        <div style="background-color: rosybrown"  class="note">
            <h2><p style="text-align: center" >Form 10</p></h2>
            <h2><p style="text-align: center" >Hospital Details</p></h2>
        </div>

        <div class="form-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <select name="" id="" class="form-control" >
                            <option>Mr</option>
                            <option>Ms</option>
                          </select>
                          <input type="text" class="form-control" placeholder=" Name of the mental health establishment/doctor" value=""/>
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-control" placeholder="Phone Number *" value=""/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Hospital Registration Number" value=""/>
                    </div>
                    <div class="form-check form-check-inline">
                        <label style="font-size: 25px;color: royalblue" class="form-check-label">
                            <span >Advance Directive</span>
                            <input class="form-check-input" type="checkbox" name="" id="" value="checkedValue"> Yes
                            <input class="form-check-input" type="checkbox" name="" id="" value="checkedValue"> No
                        </label>
                    </div>
                </div>
            </div>
           </div>

           <!-- <h4 style="background-color: rosybrown;text-align: center" >Nominated Representative Details</h4>
        
        <div class="form-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <select name="" id="" class="form-control" >
                          <option>Mr</option>
                          <option>Ms</option>
                        </select>
                        <input type="text" class="form-control" placeholder=" Name" value=""/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder=" mobile" value=""/>
                    </div>
                    <div class="form-group">
                      <label for="my-input">Relationship With Patient</label>
                      <select id="my-input" class="form-control">
                        <option>Father</option>
                        <option>Mother</option>
                      </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder=" Address " value=""/>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email Address" value=""/>
                    </div>
                    <div class="form-group">
                        
                    </div>
                </div>
            </div>
            
            
        </div> -->



        <h4 style="background-color: rosybrown;text-align: center" >Patient Detials</h4>
        
        <div class="form-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Patient Name" value=""/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Patient Age" value=""/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="sex" value=""/>
                    </div>
                </div>
                <div class="col-md-6">
                        <div class="form-group">
                                <input type="text" class="form-control" placeholder="mobile" value=""/>
                            </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Patient Address " value=""/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Father/Mother" value=""/>
                    </div>
                </div>
            </div>
            
            
        </div>


        <h4 style="background-color: rosybrown;text-align: center" >Optional name Details</h4>
        <div class="form-content">
            <div class="row">
                <div class="col-md-6">
                        <div class="form-group">
                                <input type="text" class="form-control" placeholder="Chief Complain" value=""/>
                            </div> 
                            <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Provisional Dignosis" value=""/>
                                </div>
                                <div class="form-group">
                                        <input type="text" class="form-control" placeholder="treatement Advised" value=""/>
                                    </div>
                    
                        </div>
               
                <div class="col-md-6">
                    <span>Follow Up</span>
                        <div class="form-group">
                                <input type="text" class="form-control" placeholder="Days" value=""/>
                            </div>
                            <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Recommondation" value=""/>
                                </div>
                
                </div>
            </div>
            
            
    <input type="button" value="submit"  class="btn btn-primary" >
    <input type="button" value="save"  class="btn btn-danger" >
    <input type="button" value="edit"  class="btn btn-success" >
    <input type="button" value="print"  class="btn btn-primary" >
        </div>

    </div>
</div>