<h1 style="text-align: center" class="form-control"  > Unit Creation Screen</h1>
<hr>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <label for=""></label>
        <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="">
        <small id="emailHelpId" class="form-text text-muted">Unit Name</small>
      </div>
      <div class="col-sm">
        <label for=""></label>
    <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="">
    <small id="emailHelpId" class="form-text text-muted">Unit ID</small>
      </div>
    </div>
  </div>

<div class="container" >
<div class="form-group">
    select Sr Doctor
  <label for="select doctor"></label>
  <select class="" name="" id="">
    <option>SDOC 1</option>
    <option>SDOC 2</option>
    <option>SDOC 2</option>
  </select>
  <input type="button" value="add" class="btn btn-danger" >
</div>
<table class="table">
    <thead>
        <tr>
            <th>Doctor name</th>
            <th>Doctor id</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                    <td scope="row">SDOC 1</td>
                    <td>SDOC001</td>
                    <td><input type="button" value="delete"></td>
                    
                </tr>
        <tr>
            <td scope="row">SDOC 2</td>
            <td>SDOC002</td>
            <td><input type="button" value="delete"></td>
            
        </tr>
        
    </tbody>
</table>

</div>

<div class="container" >
        <div class="form-group">
            select jr Doctor
          <label for="select doctor"></label>
          <select class="" name="" id="">
            <option>JDOC 1</option>
            <option>JDOC 2</option>
            <option>JDOC 2</option>
          </select>
          <input type="button" value="add" class="btn btn-danger" >
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Doctor name</th>
                    <th>Doctor id</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                            <td scope="row">JDOC 1</td>
                            <td>JDOC001</td>
                            <td><input type="button" value="delete"></td>
                            
                        </tr>
                <tr>
                    <td scope="row">JDOC 2</td>
                    <td>JDOC002</td>
                    <td><input type="button" value="delete"></td>
                    
                </tr>
                
            </tbody>
        </table>
        
        </div>



        <div class="container" >
                <div class="form-group">
                    select nurse
                  <label for="select doctor"></label>
                  <select class="" name="" id="">
                    <option>NURSE 1</option>
                    <option>NURSE 2</option>
                    <option>NURSE 2</option>
                  </select>
                  <input type="button" value="add" class="btn btn-danger" >
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nurse name</th>
                            <th>Nurse id</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                    <td scope="row">NURSE 1</td>
                                    <td>NURSE001</td>
                                    <td><input type="button" value="delete"></td>
                                    
                                </tr>
                        <tr>
                            <td scope="row">NURSE 2</td>
                            <td>NURSE002</td>
                            <td><input type="button" value="delete"></td>
                            
                        </tr>
                        
                    </tbody>
                </table>
                
                </div>


   <div class="container" >
                        <div class="form-group">
                            select Receptionist
                          <label for="select "></label>
                          <select class="" name="" id="">
                            <option>RECEPTIONIST 1</option>
                            <option>RECEPTIONIST 2</option>
                            <option>RECEPTIONIST 2</option>
                          </select>
                          <input type="button" value="add" class="btn btn-danger" >
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>RECEPTIONIST name</th>
                                    <th>RECEPTIONIST id</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                            <td scope="row">RECEPTIONIST 1</td>
                                            <td>RECEPTIONIST001</td>
                                            <td><input type="button" value="delete"></td>
                                            
                                        </tr>
                                <tr>
                                    <td scope="row">RECEPTIONIST 2</td>
                                    <td>RECEPTIONIST002</td>
                                    <td><input type="button" value="delete"></td>
                                    
                                </tr>
                                
                            </tbody>
                        </table>
                        
                        </div>

   <div class="container" >
                                <div class="form-group">
                                    select Guest
                                  <label for="select "></label>
                                  <select class="" name="" id="">
                                    <option>GUEST 1</option>
                                    <option>GUEST 2</option>
                                    <option>GUEST 2</option>
                                  </select>
                                  <input type="button" value="add" class="btn btn-danger" >
                                </div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>GUEST name</th>
                                            <th>GUEST id</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            <tr>
                                                    <td scope="row">GUEST 1</td>
                                                    <td>GUEST001</td>
                                                    <td><input type="button" value="delete"></td>
                                                    
                                                </tr>
                                        <tr>
                                            <td scope="row">GUEST 2</td>
                                            <td>GUEST002</td>
                                            <td><input type="button" value="delete"></td>
                                            
                                        </tr>
                                        
                                    </tbody>
                                </table>
                                
                                </div>

  <div class="container" >
                                        <div class="form-group">
                                            select Outside Specilist
                                          <label for="select "></label>
                                          <select class="" name="" id="">
                                            <option>OS 1</option>
                                            <option>OS 2</option>
                                            <option>OS 3</option>
                                          </select>
                                          <input type="button" value="add" class="btn btn-danger" >
                                        </div>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>OS name</th>
                                                    <th>OS id</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    <tr>
                                                            <td scope="row">OS 1</td>
                                                            <td>OS001</td>
                                                            <td><input type="button" value="delete"></td>
                                                            
                                                        </tr>
                                                <tr>
                                                    <td scope="row">OS 2</td>
                                                    <td>OS002</td>
                                                    <td><input type="button" value="delete"></td>
                                                    
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                        
                                        </div>


  <div class="container" >
                                                <div class="form-group">
                                                    select Conseler
                                                  <label for="select "></label>
                                                  <select class="" name="" id="">
                                                    <option>COUNSELOR 1</option>
                                                    <option>COUNSELOR 2</option>
                                                    <option>COUNSELOR 3</option>
                                                  </select>
                                                  <input type="button" value="add" class="btn btn-danger" >
                                                </div>
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>COUNSELOR name</th>
                                                            <th>COUNSELOROS id</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                            <tr>
                                                                    <td scope="row">OS 1</td>
                                                                    <td>COUNSELOR001</td>
                                                                    <td><input type="button" value="delete"></td>
                                                                    
                                                                </tr>
                                                        <tr>
                                                            <td scope="row">COUNSELOR 2</td>
                                                            <td>COUNSELOR002</td>
                                                            <td><input type="button" value="delete"></td>
                                                            
                                                        </tr>
                                                        
                                                    </tbody>
                                                </table>
                                                
  </div>

  
<div class="container" >
        <div class="form-group">
            select Nutritionist 
          <label for="select "></label>
          <select class="" name="" id="">
            <option>NUTRITIONIST 1</option>
            <option>NUTRITIONIST 2</option>
            <option>NUTRITIONIST 3</option>
          </select>
          <input type="button" value="add" class="btn btn-danger" >
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>NUTRITIONIST name</th>
                    <th>NUTRITIONIST id</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                            <td scope="row">NUTRITIONIST 1</td>
                            <td>NUTRITIONIST001</td>
                            <td><input type="button" value="delete"></td>
                            
                        </tr>
                <tr>
                    <td scope="row">NUTRITIONIST 2</td>
                    <td>NUTRITIONIST002</td>
                    <td><input type="button" value="delete"></td>
                    
                </tr>
                
            </tbody>
        </table>
        
</div>
                                
<div class="container" >
        <div class="form-group">
            select Social Worker 
          <label for="select "></label>
          <select class="" name="" id="">
            <option>SW 1</option>
            <option>SW 2</option>
            <option>SW 3</option>
          </select>
          <input type="button" value="add" class="btn btn-danger" >
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Social Worker name</th>
                    <th>Social Worker id</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                            <td scope="row">SW 1</td>
                            <td>SW001</td>
                            <td><input type="button" value="delete"></td>
                            
                        </tr>
                <tr>
                    <td scope="row">SW 2</td>
                    <td>SW002</td>
                    <td><input type="button" value="delete"></td>
                    
                </tr>
                
            </tbody>
        </table>
        
</div>


<div class="container" >
        <div class="form-group">
            select Trainne 
          <label for="select "></label>
          <select class="" name="" id="">
            <option>TRAINNE 1</option>
            <option>TRAINNE 2</option>
            <option>TRAINNE 3</option>
          </select>
          <input type="button" value="add" class="btn btn-danger" >
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>TRAINNE name</th>
                    <th>TRAINNE id</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                            <td scope="row">TRAINNE 1</td>
                            <td>TRAINNE001</td>
                            <td><input type="button" value="delete"></td>
                            
                        </tr>
                <tr>
                    <td scope="row">TRAINNE2</td>
                    <td>TRAINNE002</td>
                    <td><input type="button" value="delete"></td>
                    
                </tr>
                
            </tbody>
        </table>
        
</div>

