<h2 style="text-align: center;background-color: cornflowerblue" >Billing Page</h2>
<div class="container" >
  <div class="col-md-3">
    <mat-form-field class="example-full-width">
      <input matInput #message maxlength="256" [(ngModel)]="name" (keyup.enter)="findbyname()"  placeholder="Enter name">
      <mat-hint align="start"><strong><i class="fa fa-user-plus fa-2x"></i>Search by Name</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
    </mat-form-field>
  </div>
  <div class="col-md-3">
    <mat-form-field class="example-full-width">
      <input type="number" (keyup.enter)="findbynumber()"  matInput #message [(ngModel)]="number" maxlength="256" placeholder="Enter Mobile Number">
      <mat-hint align="start"><strong><i class="fa fa-phone-square fa-2x" aria-hidden="true"></i>Search by mobile number</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
    </mat-form-field>
  </div>
  <br><br>
  <div class="col-md-9" >
    
  </div>
  
  <div *ngIf="data">

<div class="col-md-12" *ngIf="data" >
    <table  class="table table-bordered ">
      <thead class="thead-inverse">
        <tr>
          <th> Token No.</th>
          <th>Patient Name<span class=" fas fa-user-tie"></span> </th>
          <th>Gurdian Name <span class=" fa fa-user fa-2x"></span></th>
          <th> E-Mail  <span class=" fa fa-book fa-2x"></span></th>
          <th> Mobile  <span class="fa fa-phone fa-2x"></span></th>
          <th>Patient Present</th>
          <th>Actions</th>
          
        </tr>
        </thead>
        <tbody>
          <tr   *ngFor="let item of data;let i=index">
            <td scope="row">{{i+1}}</td>
            <td>{{item.first_name}} {{item.last_name}}</td>
            <td>{{item.parent_name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.primary_contact_number}}</td>
            <td>Yes</td>
            <td>
              <input type="button" value="Generate Bill" class="btn btn-info" (click)="test(item._id)" >
              <input type="button" value="View Previous Bills" class="btn btn-danger" (click)="test1(item._id)"  >
            </td>
          </tr>
         
        </tbody>
        
    </table>
  </div>

 



  </div>

  <div></div>
</div>
<div  *ngIf="raja">
    <div  class="col-md-12">
        <p style="background-color: black;color: red;height: 25px;text-align: center" >Invoice</p>
       </div>
       <div  class="col-md-2">
         <img src="../../../../../assets/logo.png" style="width: 100px;height: 40px">
       </div>
        <div class="col-md-6">
         
       </div>
        <div  class="col-md-4">
         <p *ngIf="patser"  >
           
            Name:<i class="fa fa-user-circle" aria-hidden="true"></i> {{patser.first_name}}  {{patser.last_name}}<br>
           Address <i class="fa fa-address-book" aria-hidden="true"></i>:{{patser.permanent_address}}
         </p>
       </div>
       <div class="col-md-12">
           <hr>
           
         </div>
         <div class="col-md-2" >
           <input type="text" placeholder="Invoice No#" name="">
         </div>
         <div class="col-md-8" >
           
         </div>
         
         <div class="col-md-2" >
           Date :   23.02.2019
         </div>
         
         <div class="col-md-12">
           <hr>
         </div>
         <div class="col-md-12">
           <div class="row col-md-12 col-md-offset-2 custyle">
             <table class="table table-striped custab">
             <thead>
             <a  class="btn btn-primary btn-xs pull-right">
               <select [(ngModel)]="somevalye" (change)="hello()" >
             <option *ngFor="let item of Services" [ngValue]="item" >{{item.name}}</option>
           </select>
         
               <b>+</b></a>
               <input type="button" value=" Add new categories" (click)="addnewcategories()"  >
               <td><input   style="margin-left:200px" type="button" value="Generate Bill" (click)="bill()"  class="btn btn-info"></td>
                 <tr>
                     <th>Item No.</th>
                     <th>Service Name</th>
                     <th>Service Charge</th>
                     <th class="text-center">Action</th>
                 </tr>
             </thead>
                    <tr *ngFor="let item of detailsosService;let i=index" >
                         <td>
                           {{i+1}}
                         </td>
                         <td>
                           {{item.name}}
                         </td>
                         <td>
                             {{item.charge}}
                           </td>
                           <td>
                               <input type="button" value="delete" (click)="deleteservicebyid(item._id)" class="btn btn-danger"  >
                             </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>total</td>
                      <td *ngIf="totall">{{totall}}</td>
                    </tr>
             </table>
             </div>
         </div>
        </div>