<div class="container register-form">
  <div class="form">
      <div style="background-color: rosybrown"  class="note">
          <h2><p style="text-align: center" >Form G</p></h2>
          <h2><p style="text-align: center" >Request for discharge by Independent Patient</p></h2>
      </div>

      <div class="form-content">
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Hospital Details*" value=""/>
                  </div>
                  <div class="form-group">
                      <input type="date" class="form-control" placeholder="Phone Number *" value=""/>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Hospital/Nursing Home" value=""/>
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Hospital Address" value=""/>
                  </div>
              </div>
          </div>
         </div>

         <h4 style="background-color: rosybrown;text-align: center" >Patient Details</h4>
      
      <div class="form-content">
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <select name="" id="" class="form-control" >
                        <option>Mr</option>
                        <option>Ms</option>
                      </select>
                      <input type="text" class="form-control" placeholder=" Name" value=""/>
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder=" mobile" value=""/>
                  </div>
                  <div class="form-group">
                    <label for="my-input">Admission Date </label>
                    <input type="date" class="form-control" placeholder=" Name" value=""/>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder=" Address " value=""/>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder=" Age " value=""/>
                </div>
                  <div class="form-group">
                      <input type="email" class="form-control" placeholder="Email Address" value=""/>
                  </div>
                  <div class="form-group">
                    <select name="" id="" class="form-control" >
                      <option>Mr</option>
                      <option>Ms</option>
                    </select>
                    <input type="text" class="form-control" placeholder=" Enter Parent Name" value=""/>
                </div>
              </div>
          </div>
          
          
      </div>





      <div class="form-content">
          <div class="row">
              <div class="col-md-6">
                 <div class="form-group">
                   <label for=""></label>
                   
                   <small id="helpId" class="form-text text-muted"></small>
                   
                 </div>
                  <div class="form-group">
                  
                  </div>
                  <div class="form-group">
                     
                  </div>
              </div>
              <!-- here also we can put -->
              <div class="col-md-6">
                <!-- this is the part where we will put snippet                    -->
              </div>
          </div>
          
          
  <input type="button" value="submit"  class="btn btn-primary" >
  <input type="button" value="save"  class="btn btn-danger" >
  <input type="button" value="edit"  class="btn btn-success" >
  <input type="button" value="print"  class="btn btn-primary" >
      </div>

  </div>
</div>